body {
  margin: 0;
  font-family: "Sansation", sans-serif;
  background: #f9f9f9;
  color: #333;
  align-items: center;
  align-content: center;
}

header {
  background-color: #000000;
  color: white;
  padding: 1em;
}
.logoestirado {
  height: 50px;
  width: 210px;
}

.logocuadrado {
  height: 80px;
  width: 80px;
}

.mapa {
  height: 250px;
  width: 250px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1em;
  padding: 0;
  margin: 10px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main.content {
  padding: 2em;
}

section {
  margin-bottom: 2em;
}

footer {
  background-color: #000000;
  color: white;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer a {
  color: white;
  margin-left: 0.5em;
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2em;
  align-items: start;
}

.sidebar {
  background-color: #fff;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.profile-pic {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 1em;
}

.info-list {
  list-style: none;
  padding: 0;
  font-size: 1em;
  line-height: 1.8;
}

.about {
  background-color: #f0f0ff;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
}

.video {
  width: 100%;
  height: 315px;
  border-radius: 8px;
  margin-bottom: 1em;
}
@media (max-width: 650px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .profile-pic {
    max-width: 300px;
    margin: 0 auto 1em;
    display: block;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 0;
    margin: 0;
  }

  .nav-links li {
    list-style: none;
  }

  .nav-links a {
    color: white;
    font-size: 1.2rem;
  }

  iframe {
    width: 100%;
    height: auto;
  }

  footer {
    flex-direction: column;
    text-align: center;
  }
}


