<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Education</title>
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sanchez:ital@0;1&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <nav>
      <h1>Enric's CV</h1>
      <ul class="nav-links">
        <li><a href="index_en.html"><i class="fas fa-user"></i></a></li>
        <li><a href="education.html"><i class="fas fa-graduation-cap"></i></a></li>
        <li><a href="experience.html"><i class="fas fa-briefcase"></i></a></li>
        <li><a href="../../view/estudis.html"><i class="fas fa-globe"></i> ES</a></li>
      </ul>
    </nav>
  </header>

  <main class="content">
    <section>
      <h2>Academic Background</h2>
      <ul>
        <li>2023 - CFGM SMX - Joan XXIII Institute</li>
        <li>2019-2023 - High School - Joan XXIII Institute</li>
        <li>2010-2019 - Basical education - Joan XXIII Institute</li>
        <img class="logoestirado" src="../../img/j23.png" alt="Joan XXIII Institute">
      </ul>
    </section>
    <section>
      <h2>School Location</h2>
      <iframe class="mapa" src="https://www.google.com/maps/embed?..."style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </section>
  </main>

  <footer>
    <p>&copy; 2025 Juan</p>
  </footer>
</body>
</html>