<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CV Enric Molero</title>
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sanchez:ital@0;1&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">

</head>
<body>
  <header>
    <nav>
      <h1>My Portfolio</h1>
      <ul class="nav-links">
        <li><a href="index_en.html"><i class="fas fa-user"></i></a></li>
        <li><a href="education.html"><i class="fas fa-graduation-cap"></i></a></li>
        <li><a href="experience.html"><i class="fas fa-briefcase"></i></a></li>
        <li><a href="../../index.html"><i class="fas fa-globe"></i> ES</a></li>
      </ul>
    </nav>
  </header>

  <main class="content">
    <section>
      <h2>About Me</h2>
      <p>Hi, I'm Enric. I'm passionate about technology, web design, and football. I enjoy programming and exercising in my free time. If you are interested about me use the menú on the top of the screen for knowing more about me (studies, experience...).</p>
    </section>
    <section>
      <h2>Presentation Video</h2>
      <iframe width="250" height="150" src="https://www.youtube.com/embed/VIDEO_ID" title="Personal presentation" frameborder="0" allowfullscreen></iframe>
    </section>
  </main>

  <footer>
    <p>&copy; 2025 Enric's </p>
  </footer>
</body>
</html>
