<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CV Enric Molero</title>
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sanchez:ital@0;1&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">

</head>
<header>
<body>
  <nav>
    <div class="nav-left">
      <ul class="nav-links left">
        <li><a href="../../index.html"><i class="fas fa-globe"></i>ES</a></li>
      </ul>
    </div>
  
    <div class="nav-right">
      <ul class="nav-links right">
        <li><a href="../en/index_en.html"><i class="fas fa-user"></i></a></li>
        <li><a href="../en/education.html"><i class="fas fa-graduation-cap"></i></a></li>
        <li><a href="../en/experience.html"><i class="fas fa-briefcase"></i></a></li>
      </ul>
    </div>
  </nav>
  
</header>

  <main class="content grid-container" class="about">
    <aside class="sidebar">
      <img src="../../img/fotoperfil.jpg" alt="Foto de Enric" class="profile-pic" />
      <ul class="info-list">
        <li><strong>Email:</strong> enricmoleroperez@gmail.com</li>
        <li><strong>Telefon:</strong> +34 672 278 197</li>
        <li><strong>Studies:</strong> Cursando SMX</li>
      </ul>
    </aside>
  
    <section class="about">
      <h2>About me</h2>
      <p>Hello, my name is Enric. I’m passionate about technology, web design, and football. In my free time, I enjoy programming and staying active through sports.

        I have a curious and creative mindset, which drives me to continuously learn and explore new tools, especially in the world of web development and user experience design. Whether I'm working on a personal project or collaborating in a team, I value clean code, thoughtful design, and meaningful functionality.
        
        If you're interested in learning more about my academic background or professional experience, feel free to explore the menu above.</p>
  
      <h2>Presentation video</h2>
      <iframe width="383" height="680" src="https://www.youtube.com/embed/RF6LDlcEPCM" title="video inglés" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="video"></iframe>
    </section>
  </main>

  <footer>
    <p>&copy; 2025 Enric :) </p>
  </footer>
</body>
</html>
