<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Estudios</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sanchez:ital@0;1&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">

</head>
<body>
  <header>
    <nav>
      <h1>Mi CV</h1>
      <ul class="nav-links">
        <li><a href="../index.html"><i class="fas fa-user"></i></a></li>
        <li><a href="estudis.html"><i class="fas fa-graduation-cap"></i></a></li>
        <li><a href="experiencia.html"><i class="fas fa-briefcase"></i></a></li>
        <li><a href="en/education.html"><i class="fas fa-globe"></i> EN</a></li>
      </ul>
    </nav>
  </header>

  <main class="content">
    <section>
      <h2>Formación Académica</h2>
      <ul>
        <li>2023 - CFGM SMX - Instituto Joan XXIII</li>
        <li>2019-2023 - ESO - Instituto Joan XXIII</li>
        <li>2010-2019 - Educación básica - Instituto Joan XXIII</li>
        <img class="logoestirado" src="../img/j23.png" alt="Instituto Joan XXIII">
      </ul>
    </section>
    <section>
      <h2>Ubicación del centro</h2>
      <iframe class="mapa" src="https://www.google.com/maps/embed?..." width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </section>
  </main>

  <footer>
    <p>&copy; 2025 Enric</p>
  </footer>
</body>
</html>