<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Experiencia</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sanchez:ital@0;1&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">

</head>
<body>
  <header>
    <nav>
      <h1>Mi Portafolio</h1>
      <ul class="nav-links">
        <li><a href="../index.html"><i class="fas fa-user"></i></a></li>
        <li><a href="estudis.html"><i class="fas fa-graduation-cap"></i></a></li>
        <li><a href="experiencia.html"><i class="fas fa-briefcase"></i></a></li>
        <li><a href="en/experience.html"><i class="fas fa-globe"></i> EN</a></li>
      </ul>
    </nav>
  </header>

  <main class="content">
    <section>
      <h2>Experiencia Laboral</h2>
      <div>
        <h3>Lunet Facility Services</h3>
        <p>Funciones: Becario</p>
        <p>Período: noviembre 2024 - mayo 2025</p>
        <p>Descripición: El 4 de noviembre de 2024 empece las FCT (prácticas de empresa) en el departamento de transformación digital de "Lunet Facility Services", experiencía en la cual aprendí como funciona una empresa y nociones básicas de informatica.</p>
        <img class="logocuadrado" src="../img/lunet.png" alt="Lunet Facility Services">
      </div>
    </section>
  </main>

  <footer>
    <p>&copy; 2025 Enric</p>
  </footer>
</body>
</html>