<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Experiencia</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sanchez:ital@0;1&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
</head> 
<body>
<header>
  <nav>
    <div class="nav-left">
      <ul class="nav-links left">
        <li><a href="./en/experience.html"><i class="fas fa-globe"></i>EN</a></li>
      </ul>
    </div>
  
    <div class="nav-right">
      <ul class="nav-links right">
        <li><a href="../index.html"><i class="fas fa-user"></i></a></li>
        <li><a href="./estudis.html"><i class="fas fa-graduation-cap"></i></a></li>
        <li><a href="./experiencia.html"><i class="fas fa-briefcase"></i></a></li>
      </ul>
    </div>
  </nav>
  
</header>

<main class="content">
  <section>
    <h2>Experiencia laboral</h2>
    <div>
      <h3>Lunet Facility Services</h3>
      <p>Rol: Becario</p>
      <p>Periodo: Noviembre 2024 - Mayo 2025</p>
      <p>Descripción: El 4 de noviembre de 2024, comencé mis prácticas (FCT) en el Departamento de Transformación Digital de Lunet Facility Services. Durante esta experiencia, aprendí el funcionamiento de una empresa y adquirí conocimientos básicos de TI.</p>
      <img class="logocuadrado" src="../img/lunet.png" alt="Lunet Facility Services">
    </div>
  </section>
</main>

  <footer>
    <p>&copy; 2025 Enric :)</p>
  </footer>
</body>
</html>